
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    tr {
        border-bottom: 3px solid lightgray;
    }

    th {
        margin-right: 5px;
        margin-left: 5px;
    }
</style>
<div class="jumbotron">
    <h1>Заявки на регистрацию</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <table>
            <tr>
                <th>
                    Номер заявки
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Роль
                </th>
                <th>
                    Документ
                </th>
            </tr>
            @foreach (PIS_Project.Models.DataClasses.Users nowU in ViewBag.List)
            {

                <tr>
                    <form method="post" action="Confirm\">

                        <td>
                            <div style="width:80px;">
                                @Html.DisplayFor(viewer => nowU.ID)
                            </div>
                        </td>
                        <td>
                            <div style="width:300px;">
                                @Html.DisplayFor(viewer => nowU.FIO)
                            </div>
                        </td>
                        <td>
                            <select name="role">
                                @foreach (var ds in (new PIS_Project.Controllers.DataControllers.UsersRegister()).AllRole)
                                {
                                    <option value="@ds.Key">@ds.Value</option>
                                }
                            </select>
                        </td>
                        <td>
                            @if (nowU.Doc != null)
                            {
                                <div style="height:500px; width: 700px;">
                                    <iframe src="data:application/pdf;base64,@Convert.ToBase64String(nowU.Doc)" height="100%" width="100%"></iframe>
                                </div>
                            }
                        </td>

                        <td>
                            <input hidden value="@nowU.ID" name="ID" />
                            <input type="submit" value="Одобрить" />
                        </td>

                    </form>

                </tr>
            }

        </table>
    </div>

</div>
